
 .login-logo > a > img {
    width: 50%;
    height: auto;
} 
  header{
	height:170px;
	color:#FFF;
	font-size:20px;
	font-family:Sans-serif;
	background:#009688;
	padding-top:30px;
	padding-left:50px;
  }
  .contenedor{
	width:90px;
	height:90px;
	position:absolute;
	right:0px;
	bottom:80px;
  }
  .botonAgregarCategoria{
	width:60px;
	height:60px;
	border-radius:100%;
	background:#F44336;
	right:0;
	bottom:0;
	position:absolute;
	margin-right:16px;
	margin-bottom:16px;
	border:none;
	outline:none;
	color:#FFF;
	font-size:36px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition:.3s;  
  }
  span{
	transition:.5s;  
  }
  .botonF1:hover span{
	transform:rotate(360deg);
  }
  .botonF1:active{
	transform:scale(1.1);
  }

  .animacionVer{
	transform:scale(1);
  }
  