<aside #mainSidebar class="main-sidebar sidebar-taxiamistad elevation-4">
  <!-- Brand Logo -->
  <a [routerLink]="['/']" class="brand-link">

    <img src="assets/img/mitocodebanerwhite.png" class="" alt="Login Image" />
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img
          src="assets/img/user2-160x160.jpg"
          class="img-circle elevation-2"
          alt="User Image"
        />
      </div>
      <div class="info">
        <a [routerLink]="['/profile']" class="d-block"> {{ userData.nombres || 'error...'}} </a>
      </div>
    </div>



    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
          <a [routerLink]="['/dashboard']" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt text-white"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-header">GESTIÓN</li>
        
        <li class="nav-item">
          <a [routerLink]="['/categories']" class="nav-link">

            <i class="nav-icon fas fa-file-invoice-dollar text-white"></i>
            <p>
              CATEGORIAS
              <span class="badge badge-info right"></span>
            </p>
          </a>
        </li>
        <li class="nav-item">
          <a [routerLink]="['/products']" class="nav-link">

            <i class="nav-icon fas fa-file-invoice-dollar text-white"></i>
            <p>
              PRODUCTOS
              <span class="badge badge-info right"></span>
            </p>
          </a>
        </li>

      </ul>

    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
